body {
  height: 100vh;
  background-color: #f6f6f6;
  text-align: center;
  font-size: 3vmin; }

.card {
  width: 80vmin;
  height: 80vmin;
  position: absolute;
  -webkit-perspective: 500vmin;
  -moz-perspective: 500vmin;
  perspective: 500vmin;
  top: 50%;
  left: 50%;
  margin: -40vmin 0 0 -40vmin;
  cursor: pointer; }

.card:hover .face {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1); }

.front {
  -o-transform: rotateY(-20deg);
  -ms-transform: rotateY(-20deg);
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 2;
  background-color: #ccc;
  background-position: center;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover; }

.back {
  background-color: #fff;
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.card:hover .front {
  -o-transform: rotateY(-35deg);
  -ms-transform: rotateY(-35deg);
  -webkit-transform: rotateY(-35deg);
  transform: rotateY(-35deg); }

#open_card {
  display: none; }
  #open_card:checked + .card .front {
    -o-transform: rotateY(-165deg);
    -ms-transform: rotateY(-165deg);
    -webkit-transform: rotateY(-165deg);
    transform: rotateY(-165deg); }
    #open_card:checked + .card .front span {
      background-color: rgba(255, 255, 255, 0.95);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      transform: scale(-1, 1);
      background-size: contain;
      background-position: right bottom;
      background-repeat: no-repeat; }
  #open_card:checked .back {
    -o-transform: rotateY(-15deg);
    -ms-transform: rotateY(-15deg);
    -webkit-transform: rotateY(-15deg);
    transform: rotateY(-15deg); }

.to,
.stamp,
.message {
  padding: 2vmin; }
  .to p,
  .stamp p,
  .message p {
    margin-top: 0.25em;
    margin-bottom: 0.25em; }
  .to :first-child,
  .stamp :first-child,
  .message :first-child {
    margin-top: 0; }
  .to :last-child,
  .stamp :last-child,
  .message :last-child {
    margin-bottom: 0; }

.to,
.message {
  font-family: 'Dawning of a New Day', cursive; }

.stamp {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
